<div class="container">

    <div class="center-block center white-text">
        <p class="text-help light-blue darken-4">Это первый запуск приложения на этом устройстве. Пройдите небольшую процедуру настроки перед началом работы.</p>
        <h4>Кто вы?</h4>
    </div>

    <div class="center-block center slider-setup">
        <div id="scrolling">
            <ul id="slider-list">
                <li class="">
                    <div class="image-for-slider student"></div>
                    <div class="text-wrap white-text">Студент</div>
                </li>
                <li class="">
                    <div class="image-for-slider teacher"></div>
                    <div class="text-wrap white-text">Преподаватель</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="center-block center">
        <ul id="slider-control">
            <li class="slide active" data-target="0"></li>
            <li class="slide " data-target="1"></li>
        </ul>
    </div>

    <div class="center-block center bind-bottom">
        <button class="btn long waves-effect  light-blue darken-4" type="submit" name="action">Сохранить</button>
    </div>
</div>

<div id="load-element" class="spinner hidden">
    <div class="spinner-wrapper"></div>
</div>
