body{
    background: #456896;
}

.group-container.scroll-view {
    height: 499px;
}

ul.group-ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.group-ul li {
    display: block;
    padding: 10px 0 10px 25px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.logo-wrapper {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin: -120px 0 0 -100px;
    background: url("../images/vpu7-logo.png") no-repeat 50% 50%;
    background-size: initial;
}

/*setup screen*/
#scrolling {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

li {
    float: left;
    transition: opacity .1s linear;
}

.image-for-slider {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

ul#slider-list {
    width: 600px;
}

ul#slider-list .itemslide-active {
    display: block;
    opacity: 1;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1);
}

ul#slider-list li {
    opacity: 0;
    padding: 10px;
}

.image-for-slider.student{
    background-image: url("../images/student-icon.png");
}

.image-for-slider.teacher{
    background-image: url("../images/teacher-icon.png");
}

.text-wrap {
    =: absolute
    left: 50px;
    font-size: 20px;
}

.center-block.center.bind-bottom {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    bottom: 5%;
}

button.btn.long {
    width: 220px;
}

p.text-help {
    margin: 5% 0 5% 0;
    padding: 5%;
    =: rgba(0, 0, 0, 0.42)
    width: 112%;
    width: 112%;
    margin-left: -6%;
    /* background: #1A283A; */
}

ul#slider-control {
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    bottom: 14%;
}

li.slide {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #283D57;
    margin-right: 10px;
    border-radius: 100%;
}

li.slide.active {
    background: #FDAE5F;
    transition: background .3s linear;
}