body{
    background: #456896;
}

.group-container.scroll-view {
    height: 499px;
}

ul.group-ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.group-ul li {
    display: block;
    padding: 10px 0 10px 25px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.logo-wrapper {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin: -120px 0 0 -100px;
    background: url("../images/vpu7-logo.png") no-repeat 50% 50%;
    background-size: initial;
}

/*setup screen*/
#scrolling {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

li {
    float: left;
    transition: opacity .1s linear;
}

.image-for-slider {
    width: 170px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: contain;
}

ul#slider-list {
    width: 600px;
}

ul#slider-list .itemslide-active {
    display: block;
    opacity: 1;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1);
}

ul#slider-list li {
    opacity: 0;
    padding: 10px;
}

.image-for-slider.student{
    background-image: url("../images/student-icon.png");
}

.image-for-slider.teacher{
    background-image: url("../images/teacher-icon.png");
}

.text-wrap {
    =: absolute
    left: 50px;
    font-size: 23px;
}

.center-block.center.bind-bottom {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    bottom: 5%;
}

button.btn.long {width: 225px;}

p.text-help {
    margin: 5% 0 5% 0;
    padding: 5%;
    width: 112%;
    width: 112%;
    margin-left: -6%;
    font-size: 15px;
}

ul#slider-control {
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    bottom: 14%;
}

li.slide {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #013763;
    margin-right: 10px;
    border-radius: 100%;
}

li.slide.active {
    background: #FDAE5F;
    transition: background .3s linear;
}

.slider-setup {
    margin-top: 15%;
}


/*Select group*/
.scroll-wrapper {
    margin-top: -5%;
    position: absolute;
    height: 85%;
    width: 100%;
}

.scroll-list li {
    display: block;
    width: 100%;
    color: #FFFFFF;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.scroll-list li.active {
    background: rgb(255, 150, 16);
}


.image {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(255, 150, 16);
    text-align: center;
    padding-top: 3px;
    font-size: 30px;
    margin-left: 10px;
    vertical-align: middle;
    color: white;
}

.info {
    display: inline-block;
    text-align: left;
    margin-left: 5px;
    height: 50px;
    vertical-align: middle;
}

.title {
    font-size: 17px;
    line-height: 28px;
}

.description {
    line-height: 22px;
}

ul.scroll-list {
    width: 100%;
}



/*Confirm modal*/
.modal-view {
    background: rgba(0,0,0,.2);
}

.horisontal-center {
    margin-top: 70% !important;
}

.message-container {
    padding: 10px;
    text-align: center;
}

.buttons-container {
    display: block;
    font-size: 0;
    width: 100%;
}

.button {
    width: 50%;
    font-size: 16px;
    text-align: center
}


/*Home page*/
.menu-icon {
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-top: 5px;
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-size: 95% 100%;
}

.row.navigation {
    margin-bottom: 0px;
    height: 45px;
}

ul.days-list {
    width: 96%;
    margin-left: -3%;
}

ul.days-list li {
    width: 14.28%;
    text-align: center;
    text-transform: uppercase;
    opacity: .6;
}

.day-name {
    font-size: 12px;
}

ul.days-list li.active {
    opacity: 1;
    font-weight: 600;
}

.schedule-wrapper {
    background: white;
    height: 85%;
}

.lessons-list li {
    display: block;
    padding: 0;
    /* border: 1px solid; */
    width: 100%;
    background: #E2E2E2;
    margin-bottom: 3px;
    height: 70px;
    overflow: hidden;
}

ul.lessons-list {
    width: 94%;
    margin-top: 5px;
}

.time-wrapper {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    padding: 10px;
    line-height: 25px;
    border-right: 2px solid #F5B31F;
    height: 70px;
    vertical-align: middle;
}

.lesson-wrapper {
    display: inline-block;
    /* border: 1px solid; */
    width: 73%;
    text-align: left;
    height: 70px;
    vertical-align: middle;
    padding-left: 3px;
}

.teacher {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    width: 100%;
    vertical-align: middle;
}

.auditory {
    height: 20px;
    vertical-align: middle;
}

.end-time {
    opacity: .6;
}

.subject {
    font-size: 20px;
    line-height: 25px;
}
