<div class="container">

    <div class="center-block center white-text">
        <h2>Welcome</h2>
        <p>For continue, you should
        setup application. </p>
        <p>It takes jus two minutes. So, lets do it)</p>
        <p>Select your role:</p>
    </div>

    <div class="center-block center slider-setup">
        <div id="scrolling">
            <ul id="slider-list">
                <li class="z-depth-1">
                    <div class="image-for-slider student"></div>
                    <div class="text-wrap white-text">Student</div>
                </li>
                <li class="z-depth-1">
                    <div class="image-for-slider teacher"></div>
                    <div class="text-wrap white-text">Teacher</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="center-block center bind-bottom">
        <button class="btn long waves-effect waves-light" type="submit" name="action">Submit</button>
    </div>

</div>