<div class="simple-container scroll-view">
    <ul class="scroll-list">
        {{# if(this.sortedCollections.length){ }}
            {{# _.each(this.sortedCollections, function(item){ }}
                <li class="item" data-target="{{= item._id }}">
                    <div class="image">{{= item.name[0] }}</div>
                    <div class="item-info">{{= item.name }}</div>
                    <div class="delete-button" data-target="{{= item._id }}"></div>
                </li>
            {{# }) }}
        {{# }else{ }}
            <div class="no-lessons">Список пуст</div>
        {{# } }}
    </ul>
</div>
