<div class="container home-header">
    <div class="row navigation white-text">
        <div class="col s1">
            <div class="menu-icon"></div>
        </div>
        <div class="col s10 center-align"><h5></h5></div>
        <div class="col s1"><div class="add-note-icon" style="display: none"></div></div>
    </div>
</div>

<div id="home-container"></div>

<nav style="display: none" data-template>
    <ul id="slide-out" class="side-nav">
        <li class="menu-head-wrapper">
            <div class="{{ RAD.models.Session.isTeacher() ? 'user-icon teacher' : 'user-icon student' }}"></div>
            <div class="info-container">
                <div class="{{ RAD.models.Session.isTeacher() ? 'teacher-name' : 'group-name' }}" id="name">
                    {{= RAD.models.Session.get('name') }}
                </div>
            </div>
        </li>
        <li class="menu-item home active" data-target="view.my_schedule_widget">Мое рассписание</li>
        <li class="menu-item search" data-target="view.search_widget">Поиск</li>
        <li class="menu-item favorites" data-target="view.favorites_widget">Избранное</li>
        <li class="menu-item setup" data-target="view.setup_widget">Настройки</li>
        <li class="menu-item about" data-target="view.about_widget">О приложении</li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="mdi-navigation-menu"></i>
    </a>
</nav>