<div class="container-search">
    <div class="search-wrapper">
        <div class="search-icon"></div>
        <input type="text" type="text" class="search-input">
        <div class="clear-icon"></div>
    </div>

    <div class="row">
        <div class="col s12 full-size">
            <ul class="tabs">
                <li class="tab col s6 custom-color"><a class="active" href="#test1">Учителя</a></li>
                <li class="tab col s6 custom-color"><a href="#test2">Группы</a></li>
            </ul>
        </div>
    </div>
</div>



<div class="scroll-wrapper scroll-view">
    <ul class="scroll-list">
        {{# var self = this; }}
    </ul>
</div>
