<div class="container">
    <div class="row navigation white-text">
        <div class="col s4">
            <div class="menu-icon"></div>
        </div>
        <div class="col s4 center-align">
            <h5>Today</h5>
        </div>
        <div class="col s4">
            <div class="add-note-icon"></div>
        </div>
    </div>

    <div class="row navigation white-text">
        <div class="col s12">
            <ul class="days-list">
                <li class="lesson" data-target="1">
                    <div class="day-name">пн</div>
                    <div class="day-date">13</div>
                </li>
                <li class="lesson" data-target="2">
                    <div class="day-name">вт</div>
                    <div class="day-date">14</div>
                </li>
                <li class="lesson" data-target="3">
                    <div class="day-name">ср</div>
                    <div class="day-date">15</div>
                </li>
                <li class="lesson" data-target="4">
                    <div class="day-name">чт</div>
                    <div class="day-date">16</div>
                </li>
                <li class="lesson" data-target="5">
                    <div class="day-name">пт</div>
                    <div class="day-date">17</div>
                </li>
                <li class="lesson" data-target="6">
                    <div class="day-name">сб</div>
                    <div class="day-date">18</div>
                </li>
                <li class="lesson" data-target="7">
                    <div class="day-name">вс</div>
                    <div class="day-date">19</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="scroll-wrapper-lessons scroll-view">
    <ul class="lessons-list">
        {{# if(this.currentDay){ }}
            {{# if(this.currentDay.length){ }}
                {{# _.each(this.currentDay, function(item){ }}
                <li>
                    <div class="time-wrapper">
                        <div class="start-time">{{= item.time.start }}</div>
                        <div class="end-time">{{= item.time.end }}</div>
                    </div>
                    <div class="lesson-wrapper">
                        <div class="subject">{{= item.subject }}</div>
                        <div class="details">
                            <div class="auditory">{{= item.auditory }}</div>
                            <div class="teacher">{{= item.teacher }}</div>
                        </div>
                    </div>
                </li>
                {{# }) }}
            {{# }else{ }}
                <div class="no-lessons">Нет лекций</div>
            {{# } }}
        {{# } }}
    </ul>
</div>