<div class="simple-container">
    <div class="container">

        <div class="row centered">
            <div class="col s12">
                <div class="screen-container"></div>
            </div>

            <div class="col s12">
                <ul class="app-info">
                    <li class="app-name">App Name: VPUSchedule</li>
                    <li class="app-version">App Version: 1.0.0</li>
                    <li class="realize-date">Realize Date: 5 may 2016</li>
                    <li class="author">Author: Polishcuk Artem</li>
                    <li class="contacts">
                        <div class="email">Email: stich6269@yandex.ru</div>
                        <div class="skype">Skype: stich62691</div>
                    </li>
                </ul>
            </div>

            <div class="col s12">
                <div class="info-for-user">Все ваши пожелание и предложения
                    по поводу функциональности приложения вы можете отправить
                    на один из перечисленных каонтактов.
                </div>
            </div>
        </div>
    </div>
</div>