

    <div class="center-block center white-text">
        <p class="text-help light-blue darken-4">Теперь найдите рассписание которое вы хотите видеть в приложении:</p>
    </div>

    <div class="">
        <div class="scroll-wrapper scroll-view">
            <ul class="scroll-list">
                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>

                <li class="item">
                    <div class="image">П</div>
                    <div class="info">
                        <div class="title">Полищук</div>
                        <div class="description">Артем Владимирович</div>
                    </div>
                </li>

                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>


                <li class="item">
                    <div class="image">З</div>
                    <div class="info">
                        <div class="title">З - 31</div>
                        <div class="description">Третий курс</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
