<div class="container">

    <div class="center-block center white-text">
        <p class="text-help light-blue darken-4">Теперь найдите рассписание которое вы хотите видеть в приложении:</p>
    </div>

    <div class="center-block center">
        <div class="scroll-wrapper scroll-view">
            <ul class="scroll-list">
                <li class="item">SD - 54</li>
                <li class="item">SDF - 5</li>
                <li class="item">HF - 15</li>
                <li class="item">FGD - 1</li>
                <li class="item">DFG - 1</li>
                <li class="item">SDF - 1</li>
                <li class="item">WE - 46</li>
                <li class="item">DFG - 4</li>
                <li class="item">DS - 15</li>
                <li class="item">DFG - 4</li>
                <li class="item">DFG - 1</li>
                <li class="item">JK - 15</li>
                <li class="item">FGH - 4</li>
                <li class="item">WER - 2</li>
                <li class="item">RT - 23</li>
                <li class="item">RT - 12</li>
                <li class="item">SD - 13</li>
                <li class="item">DFG - 1</li>
                <li class="item">SDF - 5</li>
            </ul>
        </div>

    </div>

    <div class="center-block center bind-bottom">
        <button class="btn long waves-effect  light-blue darken-4" type="submit" name="action">Submit</button>
    </div>

</div>